@page "/ListadoDeTareas"
@using BlazorApp1.Data
@inject TareaService service
@inject NavigationManager navigation

<h3>Listado</h3>

@if (tareas == null)
{

}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Vencimiento</th>
                <th>Estimacion</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in tareas)
            {
            <tr>

                <td>@item.Id</td>
                <td>@item.Titulo</td>
                <td>@item.Vencimiento</td>
                <td>@item.Estimacion</td>
                <td>@item.Estado</td>
                <td><button @onclick="()=>Editar(item.Id)"></button></td>
            </tr>
            }
        </tbody>
    </table>

}

@code {
    private List<Tarea> tareas;

    protected override async Task OnInitializedAsync()
    {
        tareas = await service.GetAll();
    }

    protected void Editar(int id)
    {

    }
}